<!DOCTYPE html>
<html>

<head>
    <title>Flask Application with Background Image</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='/dockerimage.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
            font-size: 24px;
            color: #870808;
            margin: 0;
            padding: 0;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .container {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>Welcome to Docker Containerization Session</h1>
    </div>
    <div class="container">
        <p>Let's Build Docker File</p>
    </div>
</body>

</html>
